---
import type { HTMLAttributes } from "astro/types";
import Typo from "@/components/typo/Typo.astro";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<li class="p-4 lg:p-0">
  <Typo variant="normal" color="dark" font="font-primary" class="!mb-0">
    <a href={href} class:list={[className, { active: isActive }]} {...props}>
      <slot />
    </a>
  </Typo>
</li>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-tertiary);
  }
  a.active {
    font-weight: bolder;
    color: var(--color-primary);
  }
</style>
