---
import NavigationBarLink from "./NavigationBarLink.astro";
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;

const menuItems = [
  { href: "/", label: "Home" },
  { href: "/blog", label: "Blogs" },
  { href: "/article", label: "Article" },
  { href: "/bite", label: "Bite" },
  { href: "/about", label: "About" },
];
---

<div
  id="navbar"
  class:list={[
    className,
    "sticky top-0 left-0 right-0 z-50 bg-white bg-opacity-80 backdrop-blur-sm transition-shadow duration-300",
  ]}
>
  <script>
    document.addEventListener("astro:page-load", () => {
      const navbar = document.getElementById("navbar");
      let lastScroll = 0;

      if (navbar) {
        window.addEventListener("scroll", () => {
          const currentScroll = window.pageYOffset;

          if (currentScroll > 10) {
            navbar.classList.add("shadow-md");
          } else {
            navbar.classList.remove("shadow-md");
          }

          lastScroll = currentScroll;
        });
      }
    });
  </script>
  <nav
    class:list={[
      "main-container flex justify-start items-center lg:justify-center p-4 gap-4",
    ]}
  >
    <a
      class:list={[
        "fixed top-0 bottom-0 left-0 p-4 flex items-center",
        "lg:hidden",
      ]}
      href="#menu"
    >
      <Icon class="text-xl" name="ic:round-menu" />
    </a>
    <div class:list={["flex flex-1 justify-center gap-2", "lg:flex-none"]}>
      <img src="/images/favicon.png" class="w-[32px] h-[32px]" />
    </div>
    <ul
      class:list={[
        "hidden items-center justify-end gap-x-4 p-0 flex-1 list-none",
        "lg:flex",
      ]}
    >
      {
        menuItems.map((item) => (
          <NavigationBarLink href={item.href}>{item.label}</NavigationBarLink>
        ))
      }
      <a class="fixed top-0 right-0 p-4 lg:hidden" href="#">
        <Icon class="text-xl" name="ic:sharp-close" />
      </a>
    </ul>
  </nav>
</div>

<ul
  id="menu"
  class:list={[
    "flex flex-col items-center justify-start h-screen gap-x-4 p-4 flex-1 list-none bg-light -translate-y-full fixed inset-0 z-[1000] ease-in-out transition-transform duration-300 overflow-y-auto",
    "[#menu:target]:translate-y-0",
    "lg:hidden",
  ]}
>
  {
    menuItems.map((item) => (
      <NavigationBarLink href={item.href}>{item.label}</NavigationBarLink>
    ))
  }
  <a class="fixed top-0 right-0 p-4 lg:hidden" href="#">
    <Icon class="text-xl" name="ic:sharp-close" />
  </a>
</ul>
