---
import { variantClasses } from "./types";

interface Props {
  variant?: "primary" | "secondary" | "outline";
  class?: string;
}

const { variant = "primary", class: className = "" } = Astro.props;
---

<span
  class:list={[
    "text-xs px-2 py-1 rounded-full inline-flex items-center",
    variantClasses[variant],
    className,
  ]}
>
  <slot />
</span>
