---
import Typo from "@/components/typo/Typo.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title={"About"}>
  <section class="section">
    <div class="flex flex-col justify-center items-center">
      <div>
        {
          (
            <div class="img-cover mb-8">
              <img
                src="/images/avatar-8bit.png"
                width={300}
                height={300}
                alt="My avatar"
                class="rounded-full w-full lg:w-[300px]"
              />
            </div>
          )
        }
      </div>
      <div>
        <Typo variant="h3" color="primary">
          I’m Luckytime1996, a Full Stack Developer passionate about crafting
          software.
        </Typo>

        <div class="content">
          <Typo variant="normal" color="dark">
            A Full Stack Developer who loves exploring new projects,
            technologies, and programming techniques, believing that
            well-crafted software can solve problems and create value for
            people.
          </Typo>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
