---
import Typo from "./Typo.astro";

const today = new Date();
---

<footer class="p-20 bg-secondary">
  <div class="text-center">
    <Typo variant="small" color="light"
      >Copyright &copy; {today.getFullYear()} Luckytime1996. All rights reserved.</Typo
    >
  </div>
</footer>
