---
import { type CollectionEntry } from 'astro:content';
// import FormattedDate from './FormattedDate.astro';
import PostCard from './PostCard.astro';

type PostEntry = CollectionEntry<"blog">;

interface Props {
	posts: PostEntry[]
}

---
<section>
	<ul>
		{
			Astro.props.posts.map((post) => (
				<li>
					<PostCard post={post}></PostCard>
				</li>
			))
		}
	</ul>
</section>